* {
  box-sizing: border-box;
}

body {
  font-family: roboto;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  height: 500px;
}
iframe{
  min-height: -webkit-fill-available; 
  height: auto; 
  width: 97%;
  border: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.video-section {
  flex: 2;
}

.video-sugesstions {
  flex: 1;
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button {
  padding: 0;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: 1px;
  margin-right: 1px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu-button:active {
  background: rgba(25, 25, 25, 0.1);
}

.profile {
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

.nav-button-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.nav-buttons-list-item {
  color: rgba(25, 25, 25, 0.65);
}

.youtube-logo {
  width: 125px;
  height: 56px;
  cursor: pointer;
}

.search-button {
  width: 65px;
  height: 32px;
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
}

.search-button:hover {
  background: rgba(25, 25, 25, 0.1);
}

.search-input {
  height: 32px;
  width: 575px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  font-size: 16px;
}

.search-container {
  display: flex;
}

.logo-button {
  background: none;
  border: none;
  outline: none;
}

.view-count {
  color: rgba(25, 25, 25, 0.65);
}

.video-section {
  margin-left: 20px;
}

.video-title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
  color: #212121;
}

.video-views {
  margin: 5px 0;
}

.video-interaction-buttons {
  display: flex;
  align-items: center;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.profile-info {
  display: flex;
  justify-content: space-between;
}

.show-more {
  padding: 1px 9px;
  background: none;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #9b9b9b;
}

.subscribe {
  width: 137px;
  height: 37px;
  background: #dd2c00;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: roboto;
  cursor: pointer;
}

.add-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-input {
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: text;
  flex: 1;
  outline: none;
  font-size: 16px;
  margin-left: 20px;
}

.comment-input:focus {
  border-color: rgba(25, 25, 25, 0.65);
}


.comment-count {
  width: 20%;
  margin: 0;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-logo {
  display: flex;
  align-items: center;
}

.video-interaction-section {
  margin-right: 20px;
}

.sort-comments {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.switch-button {
  position: relative;
  background: rgba(225, 225, 225);
  border-radius: 20px;
  width: 40px;
  height: 10px;
  margin: 5px;
}

.switch-circle {
  position: absolute;
  top: -5px;
  right: 0;
  background: #065fd4;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
.video-sugesstions {
  display: flex;
  flex-direction: column;
}
.sidebar-header,
.video-card {
  display: flex;
  justify-content: space-between;
}
.video-card {
  margin-top: 10px;
  margin-right: 50px;
  justify-content: center;
  cursor: pointer;
}
.video-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.video-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 96px;
  margin-left: 10px;
}
.text {
  margin: 0;
  padding: 0;
  width: 80%;
}

.video-description-title {
  font-weight: 700;
  font-size: 14px;
}

.video-description-subtitle {
  font-size: 14px;
  color: rgba(100, 100, 100, 1);
}
